:root {
    --color-morado: #3d19b7;
    --color-blanco: #dfe2e9;
    --color-negro: #1b1b1b;
    --color-celeste: #78c9d4;
    --color-amarillo: #e7ff28;
    --color-verde: #0b5831;
    --color-rojo: #f3302f;
    --font-titulo: font-family: "Manrope", sans-serif;
    --font-parrafos: font-family: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    font-family: "Manrope", sans-serif;
}

p,
a,
span {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

input {
    display: block;
}

textarea {
    resize: none;
}

.container-extenso {
    width: 1284px;
    margin: 0 auto;
}

.container-corto {
    width: 1183px;
    margin: 0 auto;
}