@font-face {
    font-family: "Now-Regular";
    src: url(../fonts/Now/Now-Regular.otf);
}

@font-face {
    font-family: "Garet-Regular";
    src: url(../fonts/Garet/Garet-Book.woff);
}

:root {
    --color-morado: #3d19b7;
    --color-blanco: #dfe2e9;
    --color-negro: #1b1b1b;
    --color-celeste: #78c9d4;
    --color-amarillo: #e7ff28;
    --color-verde: #0b5831;
    --color-rojo: #f3302f;
    --font-titulo: "Now-Regular", sans-serif;
    --font-parrafos: "Garet-Regular", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-titulo);
    color: var(--color-negro);
}

p,
a,
span {
    font-family: "Poppins", sans-serif;
    color: var(--color-negro);
}

p,
span {
    font-family: var(--font-parrafos);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

input {
    display: block;
}

textarea {
    resize: none;
}

.container-extenso {
    max-width: 1284px;
    margin: 0 auto;
}

.container-corto {
    max-width: 1183px;
    margin: 0 auto;
}